<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    h2 {text-align: center;}
    </style>
    <style>
        body {
            background-color: #e5e7e9;
        }
       
.button {
  background-color: #2ECC71;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}
}

    </style>
    <style>
table{
  border: 1px solid black;
  padding-left: 20px;
  background-color: #e5e7e9;
  width :70%;
  height: 60%;
}
}
</style>
</head>
<form method="post" action="{{ url_for('email_database') }}">
 <button class="button" style="float: right" >Email-Database</button>
 </form>
 <form method="post" action="{{ url_for('chat_database') }}">
 <button class="button" style="float: right" >Chat-Database</button>
 </form>
<body>
<h2 class="city" >RECORDS OF CHATBOT</h2>

    <div class="panel-body">
                      <div>
                      <table id="t01" class="table table-striped table-bordered" style="width:200%" " >
                    {% for table in tables %}
                    {{ table|safe }}
                    {% endfor %}
                </table>
            </div>
                </div>
</body>

</html>
