<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PrahariBot</title>

    <!-- scripts in head -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css" />
    <!--  -->
  </head>
  <body>
    <!-- mainjs -->
    <script src="../static/js/index.js"></script>
    <!--  -->
  </body>
</html>